<html>
    <head>
        <script>
            function showSpoilers() {
                var x = document.getElementById("levititan");
                var y = document.getElementById("b");
                var a = document.getElementById("m")
                x.style.display = "block"
                y.style.display = "none"
                a.play()
            }
        </script>
    </head>
    <body>
        <button id="b" style="display:block" onclick="showSpoilers()" >attack on titan spoiers</button>
        <img style="display:none" id="levititan" src="https://cdn.discordapp.com/attachments/607752967151681546/1241639069604122735/levititan.jpg?ex=664aedfe&is=66499c7e&hm=e3c9e7e75faaa323c02195339b55c6e8a19c97fa223a7ca330b5cf4d2ee07179&" width="100%" height="100%">
        <audio id="m" autoplay="a">
            <source src="https://cdn.discordapp.com/attachments/607752967151681546/1241645826007109714/epic_aot_music.mp3?ex=664af449&is=6649a2c9&hm=e0605537a5d202de3639e238a99801283e809dd69e7147069d583b9bd4357f7c&">
        </audio>
    </body>
</html>
